@model VideoRentalWeb.Models.Entities.TakingViewModel
@{
    ViewData["Title"] = "Create"; Layout = "_Layout";
}

<div class="container text-center w-50">

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h2>Create a new entity</h2>

            <div>
                <input  asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage"/>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

            <p>
                <label asp-for="Entity.ClientId"></label><br/>
                <input asp-for="Entity.ClientId" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.ClientId" class="text-danger"></span>
            </p>
            
            <p>
                <label asp-for="Entity.DiskId"></label><br/>
                <input asp-for="Entity.DiskId" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.DiskId" class="text-danger"></span>
            </p>
            
            <p>
            <label asp-for="Entity.DateOfCapture"></label><br/>
            <input asp-for="Entity.DateOfCapture" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.DateOfCapture" class="text-danger"></span>
            </p>
            
            <p>
            <label asp-for="Entity.ReturnDate"></label><br/>
            <input asp-for="Entity.ReturnDate" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.ReturnDate" class="text-danger"></span>
            </p>
            
            <p>
            <label asp-for="Entity.PaymentMark"></label><br/>
            <input asp-for="Entity.PaymentMark" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.PaymentMark" class="text-danger"></span>
            </p>
            
            <p>
            <label asp-for="Entity.RefundMark"></label><br/>
            <input asp-for="Entity.RefundMark" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.RefundMark" class="text-danger"></span>
            </p>
            
            <p>
            <label asp-for="Entity.StaffId"></label><br/>
            <input asp-for="Entity.StaffId" class="w-75"/>
            <p>
                <span asp-validation-for="Entity.StaffId" class="text-danger"></span>
            </p>

            <p>
            <input type="submit" value="Add" class="btn btn-success w-75"/>

            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
        </form>
    }
    else
    {
        <p>You are not logged in. Please <a href="/Account/Login">login</a>.</p>
    }
</div>
