@model VideoRentalWeb.Models.Entities.TakingViewModel
@{
    ViewData["Title"] = "Edit"; Layout = "_Layout";
}

<div class="container text-center align-middle w-50">
@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <div>
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage"/>
            <input hidden asp-for="Entity.TakeId" value="@Model.Entity.TakeId"/>
        </div>

        <h2>Edit entity</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
        <label asp-for="ClientId"></label><br />
        <select asp-for="ClientId" class="w-75" asp-items="Model.Clientele" ></select>
        <p><span asp-validation-for="ClientId" class="text-danger"></span></p> 

        <p>
        <label asp-for="DiskId"></label><br />
        <select asp-for="DiskId" class="w-75" asp-items="Model.Disks"></select>
        <p><span asp-validation-for="DiskId" class="text-danger"></span></p>

        <p>
        <label asp-for="DateOfCapture"></label><br/>
        <input asp-for="DateOfCapture" class="w-75"/>
        <p>
            <span asp-validation-for="DateOfCapture" class="text-danger"></span>
        </p>
            
        <p>
        <label asp-for="ReturnDate"></label><br/>
        <input asp-for="ReturnDate" class="w-75"/>
        <p>
            <span asp-validation-for="ReturnDate" class="text-danger"></span>
        </p>
            
        <p>
        <label asp-for="PaymentMark"></label><br/>
        <input asp-for="PaymentMark" class="w-75"/>
        <p>
            <span asp-validation-for="PaymentMark" class="text-danger"></span>
        </p>
            
        <p>
        <label asp-for="RefundMark"></label><br/>
        <input asp-for="RefundMark" class="w-75"/>
        <p>
            <span asp-validation-for="RefundMark" class="text-danger"></span>
        </p>
            
        <p>
        <label asp-for="StaffId"></label><br />
        <select asp-for="StaffId" class="w-75" asp-items="Model.Staff"></select>
        <p><span asp-validation-for="StaffId" class="text-danger"></span></p>

        <p>
            <input type="submit" value="Save" class="btn btn-success w-75"/>
        <p>
            <a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a>
        </p>
    </form>
}
else
{
    <p>You are not logged in. Please 
        <a href="/Account/Login">login</a>.
    </p>

}</div>
