@model VideoRentalWeb.Models.Entities.PricelistViewModel
@{
    ViewData["Title"] = "Create"; Layout = "_Layout";
}

<div class="container text-center w-50">

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h2>Create a new entity</h2>

            <div>
                <input  asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage"/>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>
@* 
            <p>
            <label asp-for="Entity.DiskId"></label><br/>
            <input asp-for="Entity.DiskId" class="w-75"/>
            <p><span asp-validation-for="Entity.DiskId" class="text-danger"></span></p> *@

         @*    <p>
                <label asp-for="Entity.Disk"></label><br />
                <select asp-for="Entity.Disk" class="w-75" asp-items="ViewBag.Disks" ></select>
            <p><span asp-validation-for="Entity.Disk" class="text-danger"></span></p> *@
            

@Html.DropDownListFor(model => model.Entity.DiskId, new SelectList(Model.Disks, "DiskId", "DiskName"), "Select Disk", new { @class = "form-control" })

<p>
            <label asp-for="Entity.Price"></label><br/>
            <input asp-for="Entity.Price" class="w-75"/>
            <p><span asp-validation-for="Entity.Price" class="text-danger"></span></p>

            <p>
            <input type="submit" value="Add" class="btn btn-success w-75"/>

            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
        </form>
    }
    else
    {
        <p>You are not logged in. Please <a href="/Account/Login">login</a>.</p>
    }
</div>
