@model VideoRentalWeb.Models.Entities.StaffViewModel
@{
    ViewData["Title"] = "Create"; Layout = "_Layout";
}

<div class="container text-center w-50">

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h2>Create a new entity</h2>

            <div>
                <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

            <p>
            <label asp-for="Surname"></label><br/>
            <input asp-for="Surname" class="w-75"/>
            <p>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </p>

            <p>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" class="w-75" />
            <p>
                <span asp-validation-for="Name" class="text-danger"></span>
            </p>
        
            <p>
            <label asp-for="Middlename"></label><br />
            <input asp-for="Middlename" class="w-75" />
            <p>
                <span asp-validation-for="Middlename" class="text-danger"></span>
            </p>
        
            <p>
            <label asp-for="PositionId"></label><br />
            <select asp-for="PositionId" class="w-75" asp-items="Model.Positions" ></select>
            <p><span asp-validation-for="PositionId" class="text-danger"></span></p> 
        
            <p>
            <label asp-for="DateOfEmployment"></label><br />
            <input asp-for="DateOfEmployment" class="w-75" />
            <p>
                <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
            </p>

            <p>
            <input type="submit" value="Add" class="btn btn-success w-75"/>

            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
        </form>
    }
    else
    {
        <p>You are not logged in. Please <a href="/Account/Login">login</a>.</p>
    }
</div>
