@model VideoRentalWeb.Models.Entities.ProducersViewModel
@{
    ViewData["Title"] = "Create"; Layout = "_Layout";
}

<div class="container text-center w-50">

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h2>Create a new entity</h2>

            <div>
                <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

            <p>
            <label asp-for="Entity.Manufacturer"></label><br/>
            <input asp-for="Entity.Manufacturer" class="w-75"/>
            <p><span asp-validation-for="Entity.Manufacturer" class="text-danger"></span></p>
            
            <p>
            <label asp-for="Entity.Country"></label><br/>
            <input asp-for="Entity.Country" class="w-75"/>
            <p><span asp-validation-for="Entity.Country" class="text-danger"></span></p>

            <p>
            <input type="submit" value="Add" class="btn btn-success w-75"/>

            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
        </form>
    }
    else
    {
        <p>You are not logged in. Please <a href="/Account/Login">login</a>.</p>
    }
</div>
