@model VideoRentalWeb.Models.Entities.TypeViewModel
@{
    ViewData["Title"] = "Edit"; Layout = "_Layout";
}

<div class="container text-center align-middle w-50">
@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <div>
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage"/>
            <input hidden asp-for="Entity.TypeId" value="@Model.Entity.TypeId"/>
        </div>

        <h2>Edit entity</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
        <label asp-for="Entity.Title"></label><br/>
        <input asp-for="Entity.Title" class="w-75"/>
        <p><span asp-validation-for="Entity.Title" class="text-danger"></span></p>


        <p>
        <input type="submit" value="Save" class="btn btn-success w-75"/>
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
    </form>
}
else
{
    <p>You are not logged in. Please <a href="/Account/Login">login</a>.</p>
}
</div>
